body{
    outline: 2px white solid;
    background: #000;
}



.header-title{
font-family: 'Libre Baskerville', serif;
font-family: 'Readex Pro', sans-serif;
color: white;
margin-bottom: 80px; 

margin-left:50px;
}

.header-text{
    font-family: 'Libre Baskerville', serif;
    font-family: 'Readex Pro', sans-serif;
    color: white;
    font-size:80px;
    margin-top: 50px;  
    margin-left:50px;
}
.header-link{
   text-decoration: none;
   margin-bottom: 80px; 
}
.main{
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 100px 100px 100px;
}
